body {
      margin: 0;
      font-family: 'Georgia', serif;
      background-color: #f8f8f8;
    }

    header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 20px;
      background-color: white;
    }

    .nav {
      display: flex;
      gap: 15px;
      margin-right: 30px;
    }

    .nav a {
      text-decoration: none;
      color: white;
      background-color: #4a4a4a;
      padding: 10px 20px;
      border-radius: 25px;
      font-size: 16px;
    }

    .main-section {
      display: flex;
      background-color: #5ea4e4;
      padding: 60px 40px;
      border: 40px;
      background-attachment: fixed;
    }

    
    .text-content {
      flex: 1;
      color: white;
    }

    .text-content h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .text-content p {
      font-size: 14px;
      line-height: 1.6;
      max-width: 400px;
    }

    .text-content button {
      margin-top: 30px;
      background-color: #4a4a4a;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }

    .pasantias-imagen {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px;
      position: absolute;
      right: 100;
      top: 80px
      
    }
    .footer {
      display: flex;
      justify-content: space-between;
      padding: 20px 40px;
      background-color: #5ea4e4;
      border-bottom-right-radius: 40px;
    }

    .subtext1 {
      font-family: 'Georgia', serif;
      font-size: 14px;
      margin: 10;
      color: black;
      position: absolute;
      right: 0;
    }

    .footer span {
      font-size: 12px;
      color: black;
    }
  
    
  .logo img{
    width: 180px;
    position: absolute;
    top: 10px;
  }

     